<section class="row initial p-0 m-0">

    <div class="col login-image">
        <a class="text-primary" routerLink="" >
            <img class="logo" src="../../../assets/icons/logo.png" alt="">
        </a>
    </div>

    <div class="col background-color d-flex justify-content-center">
        <div class="align-self-center text-end w-50">
            <div class="row d-flex">
                <div class="col">
                    <app-new-user></app-new-user>
                </div>
            </div>
        </div>
    </div>
</section>



