<div class="card margins">
    <div class="card-body">
        <form>
            <div class="card-body" >
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="name" class="form-label">Doctor's name:</label>
                            <input type="text" class="form-control" [(ngModel)]="doctor.name" name="name" id="name" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="cpf" class="form-label">CPF doctor:</label>
                            <input type="text" class="form-control" mask="000.000.000-00" [(ngModel)]="doctor.cpf" name="cpf" id="cpf" disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="nameMother" class="form-label">Mother's name:</label>
                            <input type="text" class="form-control" [(ngModel)]="doctor.nameMother" name="nameMother" id="nameMother" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorFatherName" class="form-label">Father's name:</label>
                            <input type="text" class="form-control" id="doctorFatherName" [(ngModel)]="doctor.nameFather" name="nameFather" disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Genre:</label>
                            <select class="form-select form-control" [(ngModel)]="doctor.genre" name="genre" disabled>
                              <option >{{ doctor.genre }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorBirthDate" class="form-label">Birth Date:</label>
                            <input type="date" class="form-control" id="doctorBirthDate" [(ngModel)]="doctor.birth" name="birth" disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorStreet" class="form-label">Street:</label>
                            <input type="text" class="form-control" id="doctorStreet" [(ngModel)]="doctor.streetName" name="streetName" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorHomeNumber" class="form-label">Number:</label>
                            <input type="number" class="form-control" id="doctorHomeNumber" [(ngModel)]="doctor.numberHome" name="numberHome" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorDistrict"
                                class="form-label">District:</label>
                            <input type="text" class="form-control" id="doctorDistrict" [(ngModel)]="doctor.district" name="district" disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorCity" class="form-label">City:</label>
                            <input type="text" class="form-control" id="doctorCity" [(ngModel)]="doctor.city" name="city" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorState" class="form-label">State:</label>
                            <input type="text" class="form-control" id="doctorState" [(ngModel)]="doctor.state" name="state" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorCountry" class="form-label">País:</label>
                            <input type="text" class="form-control" id="doctorCountry" [(ngModel)]="doctor.country" name="country" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="RegisterNumber" class="form-label">Register number:</label>
                            <input type="text" class="form-control" [(ngModel)]="doctor.registerNumber" name="registerNumber" id="registerNumber" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorRegisterState" class="form-label">Register State:</label>
                            <input type="text" class="form-control" [(ngModel)]="doctor.registerState" name="registerState" id="registerState" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorSpecialty" class="form-label">Specialty:</label>
                            <input type="text" class="form-control" id="doctorSpecialty" [(ngModel)]="doctor.specialty" name="specialty" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>