<div class="card margins" id="newUserContainer">
    <div class="card-body">
      <form>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="name" class="form-label">Enter your name:</label>
                <input type="text" class="form-control" [(ngModel)]="user[0].name" name="name" id="name" disabled>
              </div>
              <div class="mb-3">
                <label for="userEmail" class="form-label">Enter you e-mail:</label>
                <input type="email" class="form-control" [(ngModel)]="user[0].email" name="email" disabled>
              </div>
              <div class="mb-3">
                <label for="login" class="form-label">Login:</label>
                <input type="text" class="form-control" [(ngModel)]="user[0].login" name="login" disabled>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label for="passwordUser" class="form-label">Password:</label>
                <input type="password" class="form-control" [(ngModel)]="user[0].password"
                  name="password" disabled>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>