<section class="container-fluid align-items-center initial">
    <div class="row p-0" style="height: 100vh;">
        <div class="team-image col col-lg d-block d-md-flex align-items-center justify-content-center">
            <a class="text-primary fixed-top" routerLink="" >
                <img class="logo" src="assets/icons/logo.png" alt="">
            </a>
            <div class="card mx-5 mt-5">
                <div class="card-body ">
                    Inicialmente o time contava com 3 integrantes, infelizmente devido a problemas pessoais nossa colega Bárbara Ribeiro precisou sair do curso um pouco antes dos modulos de Angular e Spring.
                    Atualmente o time é composto apenas pelos integrantes Emerson e Welliton
                </div>
            </div>
            
        </div>
        <div class="col-md-8 col-lg-6 p-5 left-side d-flex align-items-center justify-content-center background-color">
            <div class="row">
                
                <div class="col-12" *ngFor="let team of this.teamService.teamList">
                    <div class="card">
                        <div class="card-body d-sm-flex align-items-center">
                            <div class="text-center">
                                <img class="profile-user-img img-circle m-sm-1" src="{{team.image}}" alt="{{team.name}}">
                            </div>
                            <div class="d-flex text-center text-sm-left flex-column ml-sm-4">
                                <h2 class="">{{team.name}}</h2>
                                <div class="w-sm-75">
                                    <p class="">{{team.college}}</p>
                                </div>
                                <div>
                                    <a href="{{team.github}}" target="_blank" class="btn btn-secondary"><b>GitHub</b></a>
                                    <a href="{{team.linkedin}}" target="_blank" class="btn btn-primary ml-sm-1"><b>LinkedIn</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
  

  
    </div>
  </section>
