.background-color {
    background-color: #47BED8;
}

.initial {
    height: 100vh;
}

.title-initial {
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 90px;
}

