<section class="w-100">
  <header class="">
    <nav class="navbar navbar-expand-lg fixed-top background-color">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="#home">
                <img class="logo-initial" src="assets/icons/logo.png" alt="Inside Medical Logo">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-5 mb-1 mb-lg-0">
                    <li class="nav-item"> 
                        <a class="nav-link text-light" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#solution">Solution</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#technology">Technology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" routerLink="team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#contact">Contact</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
  </header>

</section>

<!-- HOME SECTION -->
<a name="home"></a>
<section class="container-fluid align-items-center mt-5 initial">
  <div class="row p-0" style="height: 100vh;">
      <div class="col-md col-lg-6 p-5 left-side d-flex align-items-center justify-content-center background-color">
          <div class="info">
            <h1 class="text-light title-initial">Electronic <br /> Medical <br />Record</h1>
            <p class="text-secondary">Electronic medical record for medical records.<br />Log in or sign up!</p>
            <a routerLink="../login" (click)="recordUser(false)" class="btn btn-light home-button ">Login</a>
            <a routerLink="../login" (click)="recordUser(true)" class="btn btn-light ml-2  home-button">Register</a>
          </div>
      </div>

      <div class="initial-image col col-md d-none d-lg-flex align-items-center justify-content-center ">
      </div>

  </div>
</section>

<!-- ABOUT SECTION -->
<a name="about"></a>
<section class="container-fluid second-section h-auto background-color">



  
  <div class="row p-0">
    <div class="col p-5 background-primary-color d-flex align-items-center justify-content-center flex-column ">
      <div class="row">
        <h2 class="pb-4 pt-4">About</h2>
      </div>

      <div class="card mx-5">
        <div class="card-body">
          <div class="row">
    
            <div class="col-md col-lg-4">
              <div class="description-block">
                <h3>History</h3>
                <p>Thinking about health institutions that were unable to adapt to digitalization, EMR was born, a simple software with low complexity to facilitate the use of electronic medical records.</p>  
              </div>
    
            </div>
    
            <div class="ol-md col-lg-4">
              <div class="description-block">
                <h3>Purpose</h3>
                <p>Bring digital transformation to small, non-digitized institutions.</p>
              </div>
            </div>
    
            <div class="ol-md col-lg-4">
              <div class="description-block">
                <h3>Tecnology</h3>
                <p>Solve pain in the area through technology.</p>
              </div>
    
            </div>
    
    
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<!-- SOLUTION SECTION -->
<a name="solution"></a>
<section
  class="container-fluid third-section background-primary-color h-auto d-block d-md-flex flex-md-column justify-content-center background-color pb-5">
  <h2 class="text-center pb-4 pt-4">Solution</h2>
  <div class="row container mx-auto">

    <div class="col-md col-lg-6 display-doctor">
      <img class="w-100 p-1 display-doctor" src="assets/images/doctor.png" alt="">
      
    </div>

    <div class="col-lg col-lg-6 order-first order-lg-last d-flex flex-column align-items-center justify-content-center">
      <p class="mx-5 fs-5 w-100 text-center">
        <b>
          The EMR is an electronic medical record system that aims to deal with the management of small clinics and
          medical care offices.

          Focused on the management of electronic medical records, it is able to store and manage information related to
          patients during the service cycles. With the history, it is possible for the health professional to know the
          personalities of the patient's framework and thus make better decisions.

          Another important point is related to the issue of printed documentation, thus eliminating the possibility of
          errors caused by handwriting interpretation problems.
        </b>
      </p>
      <a class="btn btn-light w-50 rounded-3 mb-5 mt-2"
        href="https://github.com/Red-Team-Entra21-Java/Entra21_Project_EMR_Angular_2022" target="_blank">More Details
      </a>
    </div>

  </div>
</section>

<!-- Functionalities SECTION -->
<a name="functionalities"></a>
<section
  class="container-fluid third-section background-primary-color h-auto d-block d-md-flex flex-md-column justify-content-center background-color pb-5">
  <h2 class="text-center pb-4 pt-4">Functionalities</h2>
  <div class="row container mx-auto">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center">Appointment</h3>
          <img class="w-100" src="assets/images/emr_appointment.gif" alt="Appointments Module">
        </div>
        <div class="card-footer func-card">
          <p>The appointments section is the part where the patient appointments data is listed, created, edited and deleted. Here you can find information regarding each appointment performed.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card ">
        <div class="card-body">
          <h3 class="text-center">Patient</h3>
          <img class="w-100" src="assets/images/emr_patient.gif" alt="Appointments Module">
        </div>
        <div class="card-footer func-card">
          <p>The patient section is the part where patient data is listed, created, edited and deleted. Here you can find personal information, in addition to the total list of patients.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row container mx-auto">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center">Doctor</h3>
          <img class="w-100" src="assets/images/emr_doctor.gif" alt="Appointments Module">
        </div>
        <div class="card-footer func-card">
          <p>The doctors section is the part where the doctors data is listed, created, edited and deleted. Here you can find personal information, in addition to the total list of doctors.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card ">
        <div class="card-body">
          <h3 class="text-center">User</h3>
          <img class="w-100" src="assets/images/emr_user.gif" alt="Appointments Module">
        </div>
        <div class="card-footer func-card">
          <p>The users section is the part where user data is listed, created, edited and deleted. Here you can find your records information.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TECH SECTION -->
<a name="technology"></a>
<section class="container-fluid third-section background-primary-color h-auto d-block d-md-flex flex-md-column justify-content-center background-color pb-5">
  <h2 class="text-center pb-4 pt-4">Technologies Used</h2>
  <div class="card mx-5">
    <div class="card-body">
      <div class="row">

        <div class="col-sm-4 col-12">
          <div class="description-block">
            <img class="logo" src="assets/images/logo/spring_logo.png" alt="Spring Logo">
            <h5 class="description-header">Spring Boot</h5>
          </div>

        </div>

        <div class="col-sm-4 col-12">
          <div class="description-block ">
            <img class="logo" src="assets/images/logo/angular_logo.png" alt="Angular Logo">
            <h5 class="description-header">Angular</h5>
          </div>
        </div>

        <div class="col-sm-4 col-12">
          <div class="description-block">
            <img class="logo" src="assets/images/logo/mysql_logo.png" alt="MySql Logo">
            <h5 class="description-header">MySql</h5>
          </div>

        </div>


      </div>
    </div>
  </div>

</section>

<section class="container-fluid h-auto d-flex flex-column justify-content-center background-color pb-5 align-items-center">
  <h2 class="text-center pb-4 pt-4">Presentation</h2>
  <div class="card mx-5">
    <div class="card-body">
      <video controls src="assets/presentation_audio.mp4"></video>
    </div>
  </div>


</section>

<a name="contact"></a>
<section class="container-fluid fouth-section background-primary-color d-block d-md-flex flex-md-column justify-content-center background-color pt-3 pb-3">
  <h2 class="text-center pb-4 pt-5 pt-lg-0">Contact</h2> 
  <div style="height: 30vh;" class="row container mx-auto">
    <div class="col d-flex flex-column align-items-md-center align-items-lg-center justify-content-center">
      <h3 class="">Send us an email!</h3>
      <p>seiler.emerson@gmail.com</p>
        <p>welliton1991borges@gmail.com</p>
      <div>
          <br>
      </div>
      <button class="btn btn-light" routerLink="team"><h5>Meet our team!</h5></button>
      
    </div>

  </div>
</section>