<section class="row initial p-0 m-0">

    <div class="col team-image">
        <div class="row">
            <a class="text-primary" routerLink="">
                <img class="logo ml-3" src="../../../assets/icons/logo.png" alt="">
            </a>
        </div>
        <div class="row h-100 d-flex align-items-center justify-content-center">
            <div class="card h-25 w-75">
                <div class="card-body text-center">
                    <h5>Inicialmente o time contava com 3 integrantes, infelizmente devido a problemas pessoais nossa colega Bárbara Ribeiro precisou sair do curso um pouco antes dos modulos de Angular e Spring.</h5>
                    <h5>Atualmente o time é composto apenas pelos integrantes Emerson e Welliton</h5>
                </div>
            </div>
        </div>

        
    </div>


    <div class="col background-color d-flex justify-content-center">
        <div class="align-self-center text-end w-75">
            <div class="row d-flex" *ngFor="let team of this.teamService.teamList">
                <div class="col-12">
                        <div class="card mb-1" >
                            <div class="card-body box-profile">
                                <div class="d-flex align-items-center">
                                    <div class="text-center">
                                        <img class="profile-user-img img-circle m-1" src="{{team.image}}" alt="{{team.name}}">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <h2 class="">{{team.name}}</h2>
                                        <div class="w-75">
                                            <p class="text-muted ml-1">{{team.college}}</p>
                                        </div>
                                        <div>
                                            <a href="{{team.github}}" target="_blank" class="btn btn-secondary"><b>GitHub</b></a>
                                            <a href="{{team.linkedin}}" target="_blank" class="btn btn-primary ml-2"><b>LinkedIn</b></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                    </div>
                </div>
            </div>

           

        </div>

        
    </div>
    
</section>