<div class="document-box p-3" id="prescriptionTemplate" #prescriptionTemplate >

<div class="row d-flex justify-content-between">
    <div class="col">
        <img src="../../../../assets/icons/logo.png" class="logo" />
    </div>
    <div class="col d-flex flex-column align-items-end">
        XV de novembro <br>
        Nº 1245, Centro<br />
        Blumenau, SC
    </div>
</div>
<br>
<div class="row">
    <div class="col">

        <div class="alert alert-info w-100"><b>PATIENT</b></div>
        <div class="card">
            <div class="card-body">
                <p>Nome: Teste</p>
                <p>Street</p>
                <p>District</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">

        <div class="alert alert-info w-100"><b>PRESCRIPTION</b></div>
        <div class="card">
            <div class="card-body">
                Nome: TestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestesTestes<
            </div>
        </div>

    </div>
</div>
<br>

<div class="row d-flex justify-content-between">
    <div class="col">
        <p>______________</p>
        <p>Nome</p></div> 
    <div class="col d-flex flex-column align-items-end">
        <p>______________</p>
        <p>Data</p>
    </div>

</div>
</div>