<div class="card margins" id="newAppointmentContainer">
  <div class="card-body">
    <form #formAppointment="ngForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <div class="row d-flex flex-column">
          <div class="col">
            <div class="input-group mb-3">
              <label class="input-group-text" for="patientList">Patient</label>
              <select
                *ngIf="updateButtonHidden"
                class="form-select form-control"
                (ngModelChange)="setPatient($event)"
                [(ngModel)]="appointment.patient"
                name="patient"
              >
                <option
                  [ngValue]="patient.id"
                  *ngFor="
                    let patient of this.patientService.patientList;
                    let index = index
                  "
                >
                  {{ patient.id }} - {{ patient.name }} - {{ patient.cpf }}
                </option>
              </select>
              <input
                *ngIf="!updateButtonHidden"
                type="text"
                class="form-control"
                [(ngModel)]="
                  appointment.patient.name + ' - ' + appointment.patient.cpf
                "
                name="name"
                disabled
              />
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="anamnesis" class="form-label">Anamnesis</label>
              <textarea
                class="form-control"
                rows="3"
                placeholder="Describe the patient's complaint."
                [(ngModel)]="appointment.anamnesis"
                name="anamnesis"
                id="anamnesis"
                required
                #anamnesis="ngModel"
              ></textarea>
              <span class="text-danger" *ngIf="invalidMessage(anamnesis)"
                >Anamnesis is required</span
              >
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="medicalPrescriptionAppointment" class="form-label">Prescription</label>
              <textarea
                class="form-control"
                id="medicalPrescriptionAppointment"
                rows="3"
                placeholder="Describe the prescription."
                [(ngModel)]="appointment.prescription"
                name="prescription"
              ></textarea>
              <div class="text-right">
                  <button type="button" class="btn btn-primary mt-1 text-end" data-toggle="modal" data-target="#prescriptionModal"> Print </button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="medicalCertificateAppointment" class="form-label"
                >Certificate</label
              >
              <textarea
                class="form-control"
                id="medicalCertificateAppointment"
                rows="3"
                placeholder="Describe the certificate."
                [(ngModel)]="appointment.certificate"
                name="certificate"
              ></textarea>
              <div class="text-right">
                <button type="button" class="btn btn-primary mt-1 text-end" data-toggle="modal" data-target="#certificateModal"> Print </button>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="medicalForwardingAppointment" class="form-label"
                >Forwarding</label
              >
              <textarea
                class="form-control"
                id="medicalForwardingAppointment"
                rows="3"
                placeholder="Describe the forwarding."
                [(ngModel)]="appointment.forwarding"
                name="forwarding"
              ></textarea>
              <div class="text-right">
                <button type="button" class="btn btn-primary mt-1 text-end" data-toggle="modal" data-target="#forwardingModal"> Print </button>
            </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="medicalRelease" class="form-label"
                  >Medical Release:</label
                >
                <select
                  class="form-select form-control"
                  [(ngModel)]="appointment.medicalRelease"
                  name="medicalRelease"
                  id="medicalRelease"
                  required
                  #medicalRelease="ngModel"
                >
                  <option *ngFor="let medicalRelease of medicalReleaseBox">
                    {{ medicalRelease }}
                  </option>
                </select>
                <span class="text-danger" *ngIf="invalidMessage(medicalRelease)"
                  >Medical release is required</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>


      
      <div class="d-flex flex-row justify-content-center gap-1">
        <button type="button" class="mx-1 btn btn-primary" id="newAppointment" [hidden]="!updateButtonHidden" (click)="createAppointment()" >Save </button>
        <button type="button" class="mx-1 btn btn-success" id="updateAppointment" [hidden]="updateButtonHidden" (click)="updateAppointment()" >Update</button>
        <button type="reset" class="mx-1 btn btn-danger" (click)="cancelRecord()">Cancel</button>
      </div>
    </form>
  </div>
</div>


   
   

<div class="modal fade" id="prescriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">PRINT PRESCRIPTION</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="document-box p-3" id="prescriptionTemplate" #prescriptionTemplate *ngIf="patientPrinter" >

                <div class="row d-flex justify-content-between">
                    <div class="col">
                        <img src="../../../../assets/icons/logo.png" class="logo" />
                    </div>
                    <div class="col d-flex flex-column align-items-end">
                        XV de novembro <br>
                        Nº 1245, Centro<br />
                        Blumenau, SC
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                
                        <div class="alert alert-info w-100 text-center"><b>PRESCRIPTION</b></div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <p>  Name: {{ patientPrinter.name }} - CPF: {{ patientPrinter.cpf }}</p>
                                <p> Street: {{ patientPrinter.streetName }} = Number Home: {{ patientPrinter.numberHome }}</p>
                                <p> District: {{ patientPrinter.district }} - City: {{ patientPrinter.city }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                
                        <div class="card">
                            <div class="card-body">
                                {{ appointment.prescription }}
                            </div>
                        </div>
                
                    </div>
                </div>
                <br>
                
                <div class="row d-flex justify-content-between">
                    <div class="col">
                        <p>____________________________</p>
                        <p>{{ this.systemService.userLogged }}</p></div> 
                    <div class="col d-flex flex-column align-items-end">
                        <p>____________________________</p>
                        <p>Date: {{ date | date: "dd-MM-yyyy" }}</p>
                    </div>
                
                </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="printPrescription()">Print</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="certificateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">PRINT CERTIFICATE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="document-box p-3" id="certificateTemplate" #certificateTemplate *ngIf="patientPrinter" >

                <div class="row d-flex justify-content-between">
                    <div class="col">
                        <img src="../../../../assets/icons/logo.png" class="logo" />
                    </div>
                    <div class="col d-flex flex-column align-items-end">
                        XV de novembro <br>
                        Nº 1245, Centro<br />
                        Blumenau, SC
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                
                        <div class="alert alert-info w-100 text-center"><b>CERTIFICATE</b></div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <p>  Name: {{ patientPrinter.name }} - CPF: {{ patientPrinter.cpf }}</p>
                                <p> Street: {{ patientPrinter.streetName }} = Number Home: {{ patientPrinter.numberHome }}</p>
                                <p> District: {{ patientPrinter.district }} - City: {{ patientPrinter.city }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                
                        <div class="card">
                            <div class="card-body">
                                {{ appointment.certificate }}
                            </div>
                        </div>
                
                    </div>
                </div>
                <br>
                
                <div class="row d-flex justify-content-between">
                    <div class="col">
                        <p>____________________________</p>
                        <p>{{ this.systemService.userLogged }}</p></div> 
                    <div class="col d-flex flex-column align-items-end">
                        <p>____________________________</p>
                        <p>Date: {{ date | date: "dd-MM-yyyy" }}</p>
                    </div>
                
                </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="printCertificate()">Print</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="forwardingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">PRINT FORWARDING</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="document-box p-3" id="forwardingTemplate" #forwardingTemplate *ngIf="patientPrinter" >

                <div class="row d-flex justify-content-between">
                    <div class="col">
                        <img src="../../../../assets/icons/logo.png" class="logo" />
                    </div>
                    <div class="col d-flex flex-column align-items-end">
                        XV de novembro <br>
                        Nº 1245, Centro<br />
                        Blumenau, SC
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                
                        <div class="alert alert-info w-100 text-center"><b>FORWARDING</b></div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <p>  Name: {{ patientPrinter.name }} - CPF: {{ patientPrinter.cpf }}</p>
                                <p> Street: {{ patientPrinter.streetName }} = Number Home: {{ patientPrinter.numberHome }}</p>
                                <p> District: {{ patientPrinter.district }} - City: {{ patientPrinter.city }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                
                        <div class="card">
                            <div class="card-body">
                                {{ appointment.forwarding }}
                            </div>
                        </div>
                
                    </div>
                </div>
                <br>
                
                <div class="row d-flex justify-content-between">
                    <div class="col">
                        <p>____________________________</p>
                        <p>{{ this.systemService.userLogged }}</p></div> 
                    <div class="col d-flex flex-column align-items-end">
                        <p>____________________________</p>
                        <p>Date: {{ date | date: "dd-MM-yyyy" }}</p>
                    </div>
                
                </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="printForwarding()">Print</button>
        </div>
      </div>
    </div>
  </div>