<div class="card m-5 p-2" id="newUserContainer">
    <div class="card-body">
      <form action="/salvo.html" enctype="text/plain" method="get" id="formNewUser">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="userName" class="form-label">Nome de usuário:</label>
                <input type="text" class="form-control" id="userName" placeholder="Nome de usuário" required>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label for="passwordUser" class="form-label">Senha:</label>
                <input type="text" class="form-control" id="passwordUser" placeholder="*********" required>
              </div>
            </div>
          </div>
  
  
          <div class="d-flex flex-row justify-content-center gap-1">
            <button type="submit" class="mx-1 btn btn-primary" id="newPatient" (click)="newUser()">Salvar</button>
            <button type="submit" class="mx-1 btn btn-success" id="updatePatient">Atualizar</button>
            <button type="reset" class="mx-1 btn btn-outline-danger">Cancelar</button>
  
          </div>
        </div>
      </form>
    </div>
  </div>
  